@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 300px;
    padding-right: 250px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 1px 2px #eee;
}
.logo-img{
    width: 130px;
    height: 17px;
}
.nav-links{
    color: #666;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-right: 30px;
    cursor: pointer;
}
.nav-links:hover{
    color: #387ed1;
}
.landing-image-conainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.landing-img{
    height: 360px;
}
.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    text-align: center;
}
.description-heading{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    color: #424242;
    font-weight: 500;
}
.description-para{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #666;
    font-weight: 400;
    margin-top: 10px;
}
.signup-btn{
    margin-top: 40px;
    height: 40px;
    width: 160px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    background-color: #387ed1;
    text-align: center;
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
}
.signup-btn:hover{
    background-color: #222;
}